
   <app-navbar></app-navbar>
<div class="main-holder">

   <div class="track-holder">
      <div class="sidebar">
         <!-- <app-sidebar></app-sidebar> -->
         <app-sidebar (newItemEvent)="mShowSelectedSong($event)"></app-sidebar>
      </div>

      <div class="current-track">
         <router-outlet></router-outlet>
      </div>
   </div>

   <div class="bottom">
      <!-- <app-bottom-play (newPlayNew)="mChangeSongCondition($event)" [blLoaded]="loadNew" [songLink]="songAudio"></app-bottom-play> -->
      <app-bottom-play (newPlayNew)="mChangeSongCondition($event)" [blLoaded]="loadNew"></app-bottom-play>
   </div>

</div>

 