.sidebar-div{

    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.song-item{
    color: black;
    max-height: 30px;
    background-color:  white;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    cursor: pointer;
}

.song-item:hover{
    background-color: rgb(175, 175, 175);
    
    transition: margin ease-in-out 0.3s;
    opacity: 1;
}

hr{
    margin: 0 10px;
}


.track-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    margin-left: 5px;
}

.so{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 5px;
}

.so:hover{
    background-color: rgb(175, 175, 175);
}

.divDelete{
    
    opacity: .3;
    z-index: 1000;
    display: flex;
    justify-content: flex;
    align-items: center;
}

.divDelete:hover{
    opacity: 1;
    background-color: rgb(175, 175, 175);
    padding: 0;
    border-radius: 6px;
}

.divDelete mat-icon{
    margin: 0;
    padding: 0;
}

.divDelete mat-icon:hover{
 
    color: red;
}

.s-artist{
    font-size: 16px;
}

.s-title{
    font-size: 14px;
}

.song-item img{
    width: 35px;
    height: 35px;
    border-radius: 50%;   
}

.top-menu{
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.top-menu label{
    color: black;
    font-size: 25px;
}

.btn-upload{
    
    background-color: transparent;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .btn-upload:hover{
    opacity: 1;
    background-color: gray;
    
} */

.btn-upload input {
    height: 25px;
    width: 25px;
    position: absolute;
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .btn-upload input mat-icon {
   z-index: 1000;
   background-color: transparent;
   cursor: pointer;
  }


.btn-upload input::file-selector-button {
    position: absolute;
 
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }


@media only screen and (max-width: 1000px) {

.song-item:hover{
    margin: 0 0px;
}

    
.track-title{
    display: flex;
    flex-direction: column;
}

.s-artist{
    font-size: 14px;
    font-weight: 600;
}

.s-title{
    font-size: 13px;
    font-weight: 500;
}

.song-item img{
    width: 30px;
    height: 30px;
    border-radius: 50%;   
}
}