.sidebar-div{

    background-color: white;
}

.song-item{
    color: black;
    max-height: 30px;
    background-color:  white;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.song-item:hover{
    background-color: rgb(175, 175, 175);
    margin: 0 10px;
    transition: margin ease-in-out 0.3s;
}

hr{
    margin: 0 10px;
}


.track-title{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.s-artist{
    font-size: 16px;
}

.s-title{
    font-size: 14px;
}

.song-item img{
    width: 35px;
    height: 35px;
    border-radius: 50%;   
}


@media only screen and (max-width: 1000px) {

.song-item:hover{
    margin: 0 0px;
}

    
.track-title{
    display: flex;
    flex-direction: column;
}

.s-artist{
    font-size: 14px;
    font-weight: 600;
}

.s-title{
    font-size: 13px;
    font-weight: 500;
}

.song-item img{
    width: 30px;
    height: 30px;
    border-radius: 50%;   
}
    
}