<div class="©">
    <div class="row">
    <div class="card text-center" *ngFor="let song of songs">

        <div class="song-item">
            <img src="{{song.image}}">

              <div class="card-tittle">
                <label class="card-title"> {{song.Artist}}</label>
                <label class="card-title">{{song.title}}</label>
                
              </div>
          
        <div class="song-item">
            <img src="{{song.image}}">

            <div class="track-title">
                <label class="s-artist">{{song.Artist}}</label>
                <label class="s-title">{{song.title}}</label>
            </div>
        </div>
        <hr>
    </div>
</div>