<div class="current-track">

    <div class="Track-image">
 
       <img class="img-so" src="{{songImage}}">
 
       <div class="holdB">
         <div id="img-div" class="img-div">
 
            <div [class]="div">
            </div>
            
            <img class="img-wavv" [src]="srcImage2"  >
            
         </div>
         <div class="bottom-white">
   
            </div>
       </div>
       
 
    </div>
 
    <div class="Track-details">
       <label class="clsArtist">{{songArtist}}</label>
       <label class="clsTitle">{{songTitle}}</label>
       
 <!-- 
       <label class="clsArtist">{{song$.value.Artist}}</label>
       <label class="clsTitle">{{song$.value.title}}</label> -->
 
    </div>
 
  </div>

/  <app-audio-player></app-audio-player>