<div class="bottom-holder">

    <div class="thumb">
        <label>{{ACTimeM}}:{{ACTimeS}}</label>
        <mat-slider min="0" [max]="audD" step="0.1" >
            <input #sliderV matSliderThumb (dragEnd)="mDragged(sliderV)" [(ngModel)] = "num">
        </mat-slider>

        <label>{{AudioDuration}}</label>
    </div>

    <div class="bottom-control">
        <div>
            <button type="button" class="btn-controls" (click)="mLoop()"><mat-icon [ngClass]="loopClass">{{loopSongIco}}</mat-icon></button>
        </div>
    
        <div class="audio-control">


            <button type="button" class="btn-controls"><mat-icon>skip_previous</mat-icon></button>
            <button type="button" class="btn-controls" (click)="mPlayOrPause()"><mat-icon>{{songCon}}</mat-icon></button>
            <button type="button" class="btn-controls" ><mat-icon>skip_next</mat-icon></button>

        </div>
    
        <div>
            <button (click)="mFavourite()" type="button" class="btn-controls"><mat-icon [ngClass]="heartClass">{{favIco}}</mat-icon ></button>
            
        </div>
    </div>

</div>